<h1>Order #<%= @order.id %></h1>

<h3>User id: <%= @order.user_id %></h3>
<h3>Product id: <%= @order.product_id %></h3>
<h3>Quantity: <%= @order.quantity %></h3>
<h3>Subtotal: <%= @order.subtotal %></h3>
<h3>Tax: <%= @order.tax %></h3>
<h3>Total: <%= @order.total %></h3>