  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <h3>Supplied by: <%= @product.supplier.name %></h3>

            <% if @product.discounted? %>
              <h4 class="discount-item">Discount Item!</h4>
              <p>Price: <%= number_to_currency(@product.price) %></p>
            <% else %>
              <h4>Everyday Value!</h4>
              <p>Price: <%= number_to_currency(@product.price) %></p>
            <% end %>

            <p>Tax: <%= number_to_currency(@product.tax) %></p>
            <p>Total: <%= number_to_currency(@product.total) %></p>
            
            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>
            
            <p>Description: <%= @product.description %></p>

            <% if current_user && current_user.admin %>
            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Add Image", "/products/#{@product.id}/images/new", class: "btn btn-info" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
            <% end %>

            <h3>Add product to cart:</h3>
            <%= form_tag '/carted_products', method: :post do %>
              <div>
                <%= hidden_field_tag :product_id, @product.id %>
              </div>
              <div>
                <%= label_tag :quantity %>
                <%= number_field_tag :quantity %>
              </div>
              <div>
                <%= submit_tag "Add To Cart" %>
              </div>
            <% end %>

        </div>
      </div>
    </div>
  </section>
